body {
    background-color: #0D1117;
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI","Noto Sans", Helvetica,Arial,
    sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
#signin_form h1,
#signup_form h1 {
    color: white;
    text-align: center;
}
header {
    margin-top: -10px;
    margin-left: -10px;
    height: 40px;
    width: 100vw;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    color: white;
    background-color: #1B1F25;
}
header img {
    height: 30px;
    width: 30px;
    margin-left: 40px;
}

header h2 {
    margin-left: 20px;
}

footer {
    margin-left: -10px;
    height: 30px;
    width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #1B1F25;
    position: fixed;
    bottom: 0;
    padding: 10px;
    display: flex;
}

#account_balance {
    width: 660px;
}

#account_balance_table {
    width: 100%;
    color: white;
    text-align: center;
    align-items: center;
    border-spacing: 30px 10px;
}

#account_balance_table th,
#account_balance_table tr {
    text-align: left;
}

#cards {
    width: 480px;
}

#personal {
    width: 80px;
}

#account_balance,
#cards,
#personal {
    margin-top: 35px;
    height: 530;
}

#menu {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

li:first-child {
    height: 30px;
    width: 50px;
    background-color: #676CC2;
}

a {
    color: white;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}



input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(0.8);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1
}

input[type="number"]::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: gray;
}

input[type="date"] {
    color: gray;
}

input[type="number"],
input[type="text"],
input[type="password"] {
    color: white;
}

input[type="number"],
input[type="text"],
input[type="date"],
input[type="password"] {
    width: 100%;
    padding: 10px 17px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    background-color: #0D1117;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-botton {
    -webkit-appearance: none;
    margin: 0;
}

#signin_form input[type="submit"],
#signup_form input[type="submit"] {
    font-size: 16px;
    background-color: #4a9b47;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#signin_form input[type="submit"]:hover,
#signup_form input[type="submit"]:hover {
    background-color: #5ab257;
}
form {
    text-align: center;
    border-radius: 25px;
    background-color: #161b22;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}


#personal input[type="button"] {
    color: white;
    font-size: 14px;
    font-weight: bold;
    white-space: inherit;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 80px;
    background-color: #676CC2;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
}

#personal input[type="button"]:hover {
    background-color: #7479da;
}

.modal-content input[type="button"] {
    text-align: center;
    align-items: center;
    font-size: 14px;
    color: white;
    height: 40px;
    width: 110px;
    border: none;
    border-radius: 15px;
    background-color: #676CC2;
    margin-right: 30px;
}

.modal-content input[type="button"]:hover {
    background-color: #7479da;
}

#cards_table {
    color: white;
    text-align: center;
    align-items: center;
    /* width: 500px; */
    margin-left: -30px;
    table-layout: fixed;
    border-spacing: 20px 10px;
}



#cards_table button {
    color: white;
    background-color: #676CC2;
    height: 120px;
    width: 180px;
    border: none;
    border-radius: 20px;
    text-align: right;
    margin-left: 40px;
    margin-top: 20px;
    display: block;
    font-size: 16px;
    font-weight: bold;
    white-space: inherit;
}

.modal {
    color: white;
    display: none; /* Скрываем модальное окно по умолчанию */
    position: fixed; /* Фиксированное положение */
    z-index: 1; /* Накладываем поверх других элементов */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Разрешаем прокрутку, если содержимое превышает размер окна */
    background-color: rgba(0,0,0,0.6); /* Цвет фона с небольшим прозрачным эффектом */
    padding-top: 60px; /* Отступ сверху */
}
.modal-content {
    background-color: #161b22; /* Цвет фона модального окна */
    margin: 5% auto; /* Центрируем по вертикали и горизонтали */
    padding: 20px;
    border: none;
    border-radius: 15px;
    width: 30%; /* Ширина модального окна */
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 1); /* Добавляем тень */
}
.close {
    color: #aaa; /* Цвет кнопки закрытия */
    float: right; /* Выравниваем по правому краю */
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: white; /* Изменяем цвет при наведении */
    text-decoration: none;
    cursor: pointer;
}

#transfer_dropdown {
    color: white;
    background-color: #0D1117;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 200px;
}

#account_dropdown,
#currency_for_transfer_dropdown,
#transfered_currency_dropdown,
#account_number_for_transfer_dropdown,
#transfered_account_number_dropdown {
    color: white;
    background-color: #0D1117;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 90px;
}

#continue_button {
    color: white;
    font-size: 14px;
    font-weight: bold;
    white-space: inherit;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 120px;
    background-color: #676CC2;
    border: none;
    border-radius: 10px;
    margin-left: 90px;
}

#transfer_form {
    color: white;
    width: 1300px;
    margin-top: 35px;
    height: 530;
    text-align: center;
    display: inline-block;
}

#select_card_number {
    color: white;
    background-color: #0D1117;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 210px;
}

#transfer_submit_button {
    color: white;
    font-size: 14px;
    font-weight: bold;
    white-space: inherit;
    text-align: center;
    align-items: center;
    height: 40px;
    width: 110px;
    background-color: #676CC2;
    border: none;
    border-radius: 10px;
}

#create_button {
    color: white;
    font-size: 14px;
    font-weight: bold;
    white-space: inherit;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 100px;
    background-color: #676CC2;
    border: none;
    border-radius: 10px;
}

#create_button:hover,
#cards_table button:hover,
#continue_button:hover,
#transfer_submit_button:hover {
    background-color: #7479da;
}

#personal #username {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

#sign_up_table {
    text-align: center;
    width: 500px;
    table-layout: fixed;
    border-spacing: 10px;
}
label {
    color: red;
    font-size: 12px;
}
.href{
    color: #676cc2;
    font-size: 14px;
}
#signup_form {
    width: 500px;
}
#signin_form {
    width: 300px;
}
#reg {
    color: white;
    font-size: 1.5em;
}
#authorize_button {
    width: 300px;
}